@tailwind base;
@tailwind components;
@tailwind utilities;

.main-button {
    min-width: 100px;
}

.left-border-text {
    @apply font-bold border-red-1000 border-l-2 ps-1 my-3;
}

.bottom-border-text {
    @apply font-bold border-red-1000 border-b-2 pb-1 my-3;
}

.bg-success-response {
    @apply font-bold text-center py-4 px-4 flex flex-col items-center justify-center;
    color: #3a7794;
    background-color: #d9edf7;
}

.bg-error-response {
    @apply font-bold text-center py-4 px-4 flex flex-col items-center justify-center;
    color: #a94442;
    background-color: #f2dede;
}

.bg-gray-text {
    @apply font-bold bg-customgray py-1 px-2;
}

.form-label {
    font-size: 14px;
}

.form-required {
    font-size: 11px;
    padding: 0 4px;
    background: #d17565;
    @apply flex justify-center items-center font-bold text-white rounded;
}

.form-any {
    font-size: 11px;
    padding: 0 4px;
    background: #ecb666;
    @apply flex justify-center items-center font-bold text-white rounded;
}

#right-column {
    background: #ffffff;
    padding: 16px;
}

.box-attention {
    background-color: #f9dada;
    border: 1px solid #f3b8b8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #cc2c29;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-align: center;
    z-index: 10;
}

.attention {
    color: #ff0000;
    font-weight: bold;
    line-height: 120%;
    padding: 1px 0 8px;
}

.btn-area1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 32px 0;
}

.btn-area1 {
    clear: both;
    margin-top: 25px;
    overflow: hidden;
    text-align: center;
}

.btn-area1 input {
    margin: 0 auto;
    max-width: 300px;
    width: 50%;
}

input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 110%;
}

.btn-type1 {
    background: #e2e4e5;
    border: none;
    border: solid 1px #c2c7cb;
    border-radius: 3px;
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 16px 40px;
    text-align: center;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.btn-type2 {
    background: #cc0000;
    border: 1px solid #bb0303;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.btn-type2 {
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 16px 40px;
    text-align: center;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    width: 100%;
}
