@tailwind base;
@tailwind components;
@tailwind utilities;

.wait-for-icons {
    display: none;
}

.fontawesome-i2svg-active .wait-for-icons {
    display: initial;
}

.main-button {
    min-width: 110px;
}
.main-button button {
    height: 35px;
}

.left-border-text {
    @apply font-bold border-red-1000 border-l-2 ps-1 my-3;
}

.bottom-border-text {
    @apply font-bold border-red-1000 border-b-2 pb-1 my-3;
}

.bg-success-response {
    @apply font-bold text-center py-4 px-4 flex flex-col items-center justify-center;
    color: #3a7794;
    background-color: #d9edf7;
}

.bg-error-response {
    @apply font-bold text-center py-4 px-4 flex flex-col items-center justify-center;
    color: #a94442;
    background-color: #f2dede;
}

.bg-gray-text {
    @apply font-bold bg-customgray-100 py-1 px-2;
}

.form-label {
    font-size: 14px;
}

.form-required {
    font-size: 11px;
    padding: 0 4px;
    background: #d17565;
    @apply flex justify-center items-center font-bold text-white rounded;
}

.form-any {
    font-size: 11px;
    padding: 0 4px;
    background: #ecb666;
    @apply flex justify-center items-center font-bold text-white rounded;
}
