#right-column {
    background: #ffffff;
    padding: 16px;
}

.box-attention {
    background-color: #f9dada;
    border: 1px solid #f3b8b8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #cc2c29;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-align: center;
    z-index: 10;
}

.attention {
    color: #ff0000;
    font-weight: bold;
    line-height: 120%;
    padding: 1px 0 8px;
}

.btn-area1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 32px 0;
}

.btn-area1 {
    clear: both;
    margin-top: 25px;
    overflow: hidden;
    text-align: center;
}

.btn-area1 input {
    margin: 0 auto;
    max-width: 300px;
    width: 50%;
}

input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 110%;
}

.btn-type1 {
    background: #e2e4e5;
    border: none;
    border: solid 1px #c2c7cb;
    border-radius: 3px;
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 16px 40px;
    text-align: center;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.btn-type2 {
    background: #cc0000;
    border: 1px solid #bb0303;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.btn-type2 {
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 16px 40px;
    text-align: center;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    width: 100%;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.mt-4 {
    margin-top: 1 rem;
}
/* 最終内容確認*/
.w100 {
    width: 100% !important;
}

textarea {
    padding-left: 2px;
}

.attention-not-done {
    color: #222222;
    text-align: center;
}

.attention-not-done-wrapper {
    background-color: #ffe7e7;
}

.attention-not-done-wrapper {
    align-items: center;
    display: flex;
    height: 94px;
    justify-content: center;
    margin-bottom: 42px;
}

.attention-not-done span {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 4px;
}
