/* 全体設定 */
body {
    font-family: Arial, sans-serif;
}

/* バナーセクション */
.banner {
    font-family: var(--unnamed-font-family-almarai);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-11);
    line-height: var(--unnamed-line-spacing-12);
    letter-spacing: var(--unnamed-character-spacing-0-55);
    color: var(--unnamed-color-1d1d1d);

    position: relative;
    width: 100%;
    background-color: var(--unnamed-color-c4221c); /* 赤い背景色 */
    color: #fff;
    overflow: hidden;
}

/* 店舗 */
/* 隠されたラジオボタン */
.hidden-radio {
    display: none; /* ラジオボタン自体は非表示 */
}

/* チェックマークアイコンのスタイル */
.check-icon {
    display: block; /* 初期状態では非表示 */
    visibility: hidden;
    color: #e74c3c; /* チェックマークの色 (赤) */
}

/* チェックマークアイコンのスタイル */
.check-icon:not(.input-type-check) {
    margin-right: 8px; /* テキストとの間にスペースを追加 */
    color: #e74c3c; /* チェックマークの色 (赤) */
    position: absolute; /* アイコンを絶対位置で配置 */
    left: 10px; /* 左側に配置 (固定) */
    font-size: 18px; /* チェックマークのサイズ */
}

/* ユニークなボタンサイズ */
.siteflag-button {
    width: 130px; /* 幅を固定 */
    height: 40px; /* 高さを変更 */
}

.inspection-type-button {
    width: 240px; /* 幅を固定 */
    height: 120px; /* 高さを変更 */
}

.customer-type-button {
    font-size: 0.95rem;
    width: 175px; /* 幅を固定 */
    height: 45px; /* 高さを変更 */
}

.tire-storage-button {
    width: 95px; /* 幅を固定 */
}

/* カスタムボタンのスタイル */
.step-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #c4221c; /* 初期背景色 (赤) */
    color: white; /* 初期文字色 (白) */
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease; /* 色変更をなめらかに */
    border: 2px solid #c4221c; /* 初期ボーダー色 (赤) */
    position: relative; /* 相対位置に設定 */
}

.hidden-radio:disabled + .step-button {
    @apply bg-gray-300 border border-gray-500 text-[#353535];
    cursor: default;
}

/* ホバー時のスタイル */
.step-button:hover,
/* ラジオボタンが選択されたときのスタイル */
.hidden-radio:checked + .step-button {
    background-color: #f8e0e0; /* 選択時の背景色 (淡い赤) */
    color: #e74c3c; /* 選択時の文字色 (赤) */
    border: 2px solid #e74c3c; /* ボーダー色を赤に維持 */
}

/* 選択時にチェックマークを表示 */
.hidden-radio:checked + .step-border .check-icon,
.hidden-radio:checked + .step-button .check-icon {
    width: 1rem;
    visibility: visible;
}

.hidden-radio:checked + .inspection-type-button .check-icon {
    position: absolute;
    top: 5%; /* 上に移動 */
    left: 8%;
    transform: translateX(-50%); /* 水平位置を中央に調整 */
}

/* 選択時にアイコン画像を変更する */
.hidden-radio + .inspection-type-button img.inactive-icon {
    display: block;
}
.hidden-radio + .inspection-type-button img.active-icon {
    display: none;
}
.hidden-radio:hover + .inspection-type-button img.inactive-icon,
.hidden-radio:checked + .inspection-type-button img.inactive-icon {
    display: none;
}
.hidden-radio:hover + .inspection-type-button img.active-icon,
.hidden-radio:checked + .inspection-type-button img.active-icon {
    display: block;
}

.hidden-task {
    display: none;
}
