.fc-day-sun {
    color: #ff0000; /* 文字色を赤 */
}

.fc-day-sat {
    color: #0000ff; /* 文字色を青 */
}

.fc-event-title {
    /* 〇を中央に寄せる */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc-event {
    cursor: pointer; /* カーソルを指差しに変更 */
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: unset; /* min-height をリセット */
}

/* モーダルの背景（バックドロップ）の z-index を設定 */
.modal-backdrop {
    z-index: 1040 !important;
}

/* モーダルの z-index を設定 */
#storeModal {
    z-index: 1050 !important; /* これを FullCalendar より高く設定 */
}

/* FullCalendar の z-index を調整 */
#calendar-container {
    z-index: 1000 !important; /* モーダルよりも低く設定 */
}
